/* root setting */
:root{
    /* lightColors */
    --bg-color: #bde7fd;
    --text-color: black;
    --border-color: black;
    --primary-color: #FF4600;
    --box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.625);
}


body
{
    background-color: var(--bg-color);
    margin: 0px;
    overflow-x: hidden;
}


/* flexClass */
.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}


/* navContainer */
.navContainer{    
    padding: 16px 32px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    justify-content: space-between;
}

.navItems{
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.logoName{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}

.title{
    letter-spacing: 5px;

}


.divider{
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 30px;
    
}


/* Nav Items */




.ulClass{
    display: flex;
    list-style: none;
    gap: 10px;
    @media (max-width: 760px ) {
        display: none;
    }
}

.ulClass a{
    text-decoration: none;
    color: var(--text-color);
}

.ulClass a:hover{
    color: var(--primary-color);
}


#hamburger
{
    display: none;
   
}

[for = "hamburger"]{
    display: none;
    @media (max-width: 760px) {
        display: block;
        
    }

}

.sidemenue{
    display: none;
}


/*Mobile only CSS!!! sidemenue */
@media (max-width: 760px) {
    .sidemenue{
        width: 250px; 
        background-color: var(--bg-color);
        box-shadow: var(--box-shadow);
        border-radius: 12px;
        display: block;
        position: absolute;
        top: 4.5rem;
        left: 100vw;
        transition: left 0.5s;

    }

    .side-ulClass{
        list-style: none;
        flex-direction: column;
        align-items: start;
    }

    .side-ulClass a{
        text-decoration: none;
        color: var(--text-color);
    }

    .side-ulClass a:hover{
        color: var(--primary-color);
    }

    #hamburger:checked + .sidemenue{
        left: calc(100vw - 250px);
    }

    /* #hamburger:not(:checked) + .sidemenue{
        display: none;
    } */
    
}

/* HeroSection */

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}

.heroSection{
    background-color: var(--primary-color);
    border-radius: 12px;
    margin: 4rem 12px ;
    max-height:60vh;
}

.introText{
    color: white;
    padding: 8px;
    }


.download-btn{
    background-color: black;
    color: white;
    border:none;
    padding: 10px;
    border-radius: 10px;
}

.download-btn:hover{
    cursor: pointer;
}

.imageHero{
    margin: -32px;
}

.imageHero img{
    /* image-orientation: flip; */
    height: 500px;

}


/* summary section */
.summaryContainer{
    background-color: white;
    border: 2px solid black;
    border-radius: 24px;
    padding: 16px;
    justify-content: space-around;
    margin: 12px ;
    

}
.educationContainer{
    gap: 10px;
    display: flex;
}

.summaryContainer i{
    color: var(--primary-color);
    font-size: 2rem;}

    .summaryContainer p{
        color: var(--primary-color);
        margin: 0px;
        font-weight: bold;
    }

    .verticalLine{
        font-size: 2rem;
    }


    .experienceContainer{
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }

